@media(max-width: 767px) {

@media(max-width: 520px) {
  .header__label {
    display: block;
  }

  
  .header__items {
    display: block;
    text-align: center;
    transition: 0.5s ease max-height;
    padding: 0px;
    max-height: 0;
    overflow: hidden;
  }
  
  .header__input:checked ~ .header__items {
    max-height: 500px;
  }

  .header__item {
    display: block;
    padding: 15px;
  }

  .header__item:first-child {
    padding-top: 30px;
  }

  .header__item:last-child {
    padding-bottom: 30px;
  }

  .section__title {
    font-size: 20px;
  }
}

@media(max-width: 320px) {
     .section__title {
    font-size: 16px;
  }
}