@media(max-width: 767px) {
  .content {
    order: 2;
  }

  .aside {
    order: 1;
  }
}

@media(max-width: 520px) {
  .header__items {
    justify-content: space-between;
    padding: 0;
  }
  
  .header__item {
    padding: 33px 0;
  }
}

@media(max-width: 320px) {
    /* body {
        min-width: 320px;
    } */
}