@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"), 
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), 
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"), 
  url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"), 
  url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  color: #2f3c4e;
  background: #f1f1f1;
}

a {
  color: #e74c3c;
}

.inner {
  width: 100%;
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  background: #fff;
}

.header__items {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.header__item {
  display: inline-block;
  padding: 33px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2f3c4e;
}

.section {
  position: relative;
  width: 600px;
  padding: 22px 0 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.section__svg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.section__title {
  margin: 0 21px 21px;
  font-family: RobotoSlabRegular, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.3;
}

.section__picture {
  position: relative;
  display: block;
  max-width: 600px;
  width: 100%;
  margin-bottom: 21px;
  font-size: 0;
}

.section__picture:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s ease-out opacity;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/Templates/magnifier.png);
  background-size: 154px;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
}

.section__img {
  width: 100%;
}

.section__paragraph {
  margin: 0 20px 20px 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.section__paragraph::after {
  display: block;
  width: 560px;
  height: 1px;
  margin-top: 20px;
  background: #f1f1f1;
  content: '';
}

.section__bottom {
  text-align: right;
  padding: 0 20px 0 21px;
}

.section__link {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 107px;
  padding: 6px 0 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fefefe;
  background-color: #e74c3c;
}

.section__link:before,
.section__link:after {
  position: absolute;
  left: 50%; 
  display: block;
  margin-bottom: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s opacity, 0.25s margin-bottom;
}  

.section__link:before {
  bottom: 30px;
  left: 50%;
  width: 90px;
  box-sizing: border-box;
  padding: 6px 0 6px;
  margin-left: -45px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  text-align: center;
  text-transform: none;
  color: #2f3c4e;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  content: attr(tooltip);
}

.section__link:after {
  bottom: 25px;
  margin-left: -5px;
  border-top: 5px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
}

.section__tooltip:after {
  position: absolute;
  left: 50%; 
  bottom: 23px;
  display: block;
  margin-bottom: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s opacity, 0.25s margin-bottom;
  margin-left: -6px;
  border-top: 6px solid #dedede;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
}

@media (min-width: 1024px) {
  .header__item:hover {
    color: #e74c3c;
    transition: 0.25s color;    
  }

  .section:hover > .section__svg {
    opacity: 1;
    transition: 0.25s opacity;
  }
  
  .section__picture:hover:after {
    opacity: 1;
  }
 
  .section__link:hover:before,
  .section__link:hover:after,
  .section__link:hover .section__tooltip:after {
    margin-bottom: 7px;
    visibility: visible;
    opacity: 1;
  }
}
